<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/index}">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết sản phẩm</title>
    <style>
        /* Container and Row */
        .main-container {
            width: 800px;
            margin-top: 3rem;
            margin-bottom: 3rem;
            margin-left: 31rem;
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 2rem;
        }

        .row {
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 20px;
        }

        .item>a{
            border: 1px solid black;
            border-radius: 2px;
            color: black;
            width: 45px;
            text-align: center;
            padding: 5px;
            text-decoration: none;
        }
        .item>a:hover{
            background: #FF6666;
            color: snow;
        }
        .back>a:hover{
            background: #15f48d;
        }
    </style>
</head>
<body>
<main class="main-container" layout:fragment="content">
    <!-- Page content-->
    <div class="container1" style="margin-top: 1rem;margin-bottom: 2rem">
        <div class="back">
            <a style="border: 1px solid black;border-radius: 2px; color: black;
                width: 15px;text-align: center;padding: 5px; text-decoration: none;
                "
               th:href="@{/tree/admin/showTrees}">Quay lại</a>
        </div>
        <div class="row">
            <!-- Blog entries-->
            <div>
                <div style="margin: 1rem" >
                    <ul style="display: flex;list-style-type: none;margin: 2rem">
                        <li th:each="img: ${images}" style="margin: 1rem;text-align: center">
                            <img th:if="${img.getUrl() != null}" style="border-radius: 10px;width: 200px;height: 200px"
                                 th:src="'/imageTree/'+${img.getUrl()}" alt="..." />
                            <p th:if="${img.getUrl() == null}" style="color: red">Chưa có ảnh</p>
                            <p th:if="${img.getMainImage() == 1}"
                               style="color: green;padding: 5px 0 5px 0;border: 1px solid;border-radius: 10px">
                                Ảnh chính</p>
                            <br><br th:if="${img.getMainImage() == 0}">
                            <div class="item">
                                <a
                                   th:href="@{'/tree/admin/repairImg/'+${tree.getId()}+'/'+${img.getId()}}">Sửa ảnh</a>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>
            <!-- Side widgets-->
            <div style="width: 645px; margin: auto" layout:fragment="detailTreeContent" >

                <!-- Categories widget-->
                <div >
                    <div style="text-align: center; margin-bottom: 20px" ><b style="font-size: 32px" th:text="${tree.getName()}"></b></div>
                    <div >
                        <div >
                            <div >
                                <p style="font-size: 20px;width: 100%" >Thông tin cây: <span th:text="${tree.getNotes()}"></span></p>
                                <p style="font-size: 20px" >Số lượng :<span th:text="${tree.getQuantity()}"></span></p>
                                <p style="font-size: 20px" >Phân loại cây :<span th:text="${category.get().getName()}"></span></p>
                                <p style="font-size: 20px">Giá bán: <span th:text="${#numbers.formatDecimal(tree.getMoney(),3,'DEFAULT', 0, 'DEFAULT')}+' VNĐ'"></span></p>
                                <p  style="font-size: 20px">Trạng thái bán :
                                    <span th:if="${tree.getIsActive() == 0}" style="color: #198754">Đang bán</span>
                                    <span th:if="${tree.getIsActive() == 1}" style="color: red">Không bán</span>
                                </p>
                                <p style="font-size: 20px" >Hiển thị phía người dùng :
                                    <span th:if="${tree.getIsDelete() == 0}" style="color: #198754">Đang hiển thị</span>
                                    <span th:if="${tree.getIsDelete() == 1}" style="color: red">Không hiển thị</span>
                                </p>
                                <br>
                                <div class="item">
                                    <a
                                       th:href="@{'/tree/admin/editTree/'+${tree.getId()}}">Sửa thông tin cây</a>
                                </div>
                                <div  style="margin-top: 1rem">
                                    <p>Đánh giá sản phẩm :</p>
                                    <div  style="overflow-y: scroll;height: 300px;margin-left: 10px;">
                                        <div th:each="eva :${evaluates}" th:if="${eva.getIdOrderDetail().getIdTree() == tree.getId()}"
                                             style="border: 1px solid #959595;border-radius: 10px;padding: 5px;margin-bottom: 5px"
                                        >
                                            <p th:if="${eva.getUsernameCus() !=null}" th:text="${eva.getUsernameCus()}+' - '+${eva.getEvaluateDate()}"></p>
                                            <p th:text="${eva.getContent()}" style="margin-left: 10px"></p>
                                            <div class="item" style="position: relative;right: -88%;top: -25px;width: 70px">
                                                <a th:if="${eva.getIsActive()==0 }"
                                                   th:href="@{'/evaluate/admin/isActiveOn/'+${tree.getId()}+'/'+${eva.getId()}}">Hiển thị</a>
                                                <a th:if="${eva.getIsActive()==1 }"
                                                   th:href="@{'/evaluate/admin/isActiveOff/'+${tree.getId()}+'/'+${eva.getId()}}">Ẩn</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <!-- Side widget-->

            </div>
        </div>
    </div>
</main>
</body>
</html>