<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/index}">
<head>
    <meta charset="UTF-8">
    <title>Thêm cây</title>
</head>
<body>
<main class="main-container" layout:fragment="content">
    <div class="main-title" style="margin-left: 100%;width: 250px;margin-top: 3rem;margin-bottom: 2rem">
        <h2>Thêm cây</h2>
    </div>
    <div class="main-form" style="margin-left: 100%">
        <form method="post" enctype="multipart/form-data" th:action="@{/tree/admin/saveNewTree}">
            <label for="name">Tên cây:</label>
            <input type="text" id="name" name="name" ><br>

            <label for="quantity">Số lượng :</label>
            <input  type="number" id="quantity" name="quantity" ><br>

            <label for="notes">Thông tin cây: </label>
            <input   type="text" id="notes" name="notes" ><br>

            <label for="price">Giá bán: (VNĐ)</label>
            <input type="text" id="price" name="price" ><br>

            <label >Chọn phân loại cây :</label>
            <div th:each="cate :${category}" style="margin-left: 2rem">
                <label th:for="${cate.getId()}" th:text="${cate.getName()}"></label>
                <input type="radio" th:id="${cate.getId()}" name="category" th:value="${cate.getId()}">
            </div>
            <br>

            <input type="submit" value="Lưu lại">
        </form>
    </div>
</main>

</body>
</html>