<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/shipper/index}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container-fluid px-4" style="margin-top: 3rem">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Đơn hàng đã giao
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th>Mã đơn</th>
                        <th>Địa chỉ giao hàng</th>
                        <th>Tên người nhận</th>
                        <th>Giá tiền thu</th>
                        <th>Ngày đặt</th>
                        <th>Thao tác</th>
                    </tr>
                    </thead>
                    <!--                                    <tfoot>-->
                    <!--                                        <tr>-->
                    <!--                                            <th>Mã đơn</th>-->
                    <!--                                            <th>Địa chỉ giao hàng</th>-->
                    <!--                                            <th>Tên người nhận</th>-->
                    <!--                                            <th>Giá tiền thu</th>-->
                    <!--                                            <th>Ngày đặt</th>-->
                    <!--                                            <th>Thao tác</th>-->
                    <!--                                        </tr>-->
                    <!--                                    </tfoot>-->
                    <tbody >
                    <tr th:each="od :${orders}" >
                        <td th:text="${od.getId()}"></td>
                        <td th:text="${od.getAddressRece()}"></td>
                        <td th:text="${od.getNameRece()}"></td>
                        <td th:text="${#numbers.formatDecimal(od.getTotalMoney(),3,'DEFAULT', 0, 'DEFAULT')}+' VNĐ'"></td>
                        <td th:text="${od.getCreateDate()}"></td>
                        <td >
                            <ul style="display: flex;list-style-type: none">
                                <li><a class="btn1" th:href="@{'/shipper/shipperOrder/detailOrder/'+${od.getId()}}">
                                    Xem
                                </a></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</main>
</body>
</html>