<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Tạo đơn hàng</title>
</head>

<body>
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <img th:src="@{/imageTree/vnpay-logo.png}" style="width: 200px;display: block;margin: 0 auto" alt="">
                    <h2 class="card-title">Tạo Đơn Hàng</h2>
                    <form th:action="@{/submitOrder}" method="post">
                        <div class="form-group">
                            <label for="username">Thông tin người nhận :</label>
                            <p type="text" class="form-control" id="username" name="username" th:text="${receiver.getName()}+' - '+${receiver.getPhone()}"></p>
                            <p type="text" class="form-control" id="receiver" name="receiver" th:value="${receiver.getId()}" th:text="${receiver.getAddress()}"></p>
                        </div>
                        <div class="form-group">
                            <label for="totalMoney">Số tiền:</label>
                            <p type="number" class="form-control"
                               th:text="${#numbers.formatDecimal(totalMoney,3,'DEFAULT', 0, 'DEFAULT')}+' VNĐ'"></p>
                        </div>
                        <input type="text" id="totalMoney" name="totalMoney" hidden="hidden" th:value="${totalMoney}">
                        <input type="number" id="idTrans" name="idTrans" hidden="hidden" th:value="${transport.getId()}">
                        <input type="number" id="idPay" name="idPay" hidden="hidden" th:value="2">
                        <input type="number" id="idReceiver" name="idReceiver" hidden="hidden" th:value="${receiver.getId()}">

                        <button type="submit" class="btn btn-primary">Thanh toán</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>