<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/index}">
<head>
    <meta charset="UTF-8">
    <title>Xem loại sản phẩm</title>
</head>
<body>
<div class="main-content" layout:fragment="content">
    <header>
        <h1></h1>
        <div class="user-info">
            <span th:text="${detailAdmin.getName()}"></span>
            <a th:href="@{/register/}" class="logout-btn">Đăng xuất</a>
        </div>
    </header>
    <section class="table-section">
        <h2>Các loại sản phẩm</h2>
        <p style="color: red" th:text="${message}"></p>
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Tên phân loại</th>
                <th>Mã người sửa</th>
                <th>Ngày tạo</th>
                <th>Ngày sửa</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
            </thead>
            <tbody th:each="od :${showCategory}">
            <tr>
                <td th:text="${od.getId()}"></td>
                <td th:text="${od.getName()}"></td>
                <td th:text="${od.getRepairer()}"></td>
                <td th:text="${od.getCreateDate()}"></td>
                <td th:text="${od.getUpdateDate()}"></td>
                <td th:if="${od.getIsDelete()} == 0" style="color: #15f48d" >Đang hiển thị</td>
                <td th:if="${od.getIsDelete()} == 1" style="color: #fb4e4e">Không hiển thị</td>
                <td >
                    <a style="border: 1px solid black;border-radius: 2px; color: black;
                           width: 15px;text-align: center;padding: 5px; text-decoration: none;"
                       th:href="@{'/category/admin/editCategory/'+${od.getId()}}">Sửa</a>
                    <a style="border: 1px solid black;border-radius: 2px; color: black;
                           width: 15px;text-align: center;padding: 5px; text-decoration: none;"
                       th:href="@{'/category/admin/removeCategory/'+${od.getId()}}">Xóa</a>
                </td>
            </tr>
            <!-- Add more rows as necessary -->
            </tbody>
        </table>
    </section>
    <div style="height: 2rem"></div>
    <a style="border: 1px solid black;border-radius: 2px; color: black; margin-top: 2rem;
                           width: 15px;text-align: center;padding: 5px; text-decoration: none;"
       th:href="@{/category/admin/newCategory}"
    >Thêm mới </a>
    <nav style="position: fixed;bottom: 5px;z-index: 1000;">
        <p >Bạn đang ở trang thứ <span th:text="${showCategory.getNumber()+1}"></span></p>
        <ul class="pagination" style="list-style: none;display: flex;">
            <div th:if="${showCategory.totalPages > 0}"
                 th:each="pageNumber : ${pageNumbers}">
                <li class="page-link" style="border: 1px solid black;border-radius: 2px;
                                        width: 15px;text-align: center;margin-left: 5px">
                    <a th:href="@{/category/admin/showCate (size=${showCategory.size}, page=${pageNumber})}"
                       th:text="${pageNumber}"
                       th:class="${pageNumber==showCategory.number + 1} ? active"
                       style="text-decoration: none"
                       class="page-link"
                    ></a>
                </li>
            </div>
        </ul>
    </nav>
</div>
</body>
</html>